@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,400;1,700;1,800&display=swap");

:root {
  --primaryColor: #550a04;
  --primaryBlack: #020300;
  --primaryWhite: #eef0f2;
  --primaryYellow: #e09f3e;
  --primaryBlue: #1d3354;
  --primaryPink: #82204a;
}

body {
  font-family: "Andada Pro", serif;
}

/* FULL SITE */

/* navbar */

.navbar {
  width: 100%;
  background-color: var(--primaryWhite);
  overflow: hidden;
}

#navbar-toggler {
  border: 3px solid var(--primaryColor);
}

#navbar-icon-home {
  font-size: 6vh;
  color: var(--primaryColor);
}

#navbar-icon-vino {
  font-size: 6vh;
  color: var(--primaryBlue);
}

#navbar-icon-carne {
  font-size: 6vh;
  color: var(--primaryColor);
}

#navbar-icon-formaggi {
  font-size: 6vh;
  color: var(--primaryYellow);
}

#navbar-icon-distillati {
  font-size: 6vh;
  color: var(--primaryPink);
}

#navbarNav {
  font-size: 4vh;
  justify-content: flex-end;
}

#navbarNav a {
  color: var(--primaryColor);
}

/* header */

.header {
  height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.carne-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/carne-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.vino-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/vino-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.formaggi-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/taglieri-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.distillati-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/distillati.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.header h1 {
  border: 7px solid var(--primaryWhite);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryWhite);
}

.header h3 {
  font-size: 6vh;
  color: var(--primaryWhite);
}

.carne-header h1 {
  border: 7px solid var(--primaryColor);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryColor);
}

.vino-header h1 {
  border: 7px solid var(--primaryBlue);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryBlue);
}

.formaggi-header h1 {
  border: 7px solid var(--primaryYellow);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryYellow);
}

.distillati-header h1 {
  border: 7px solid var(--primaryPink);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryPink);
}

/* welcome pic */

.display-container {
  background: radial-gradient(circle, #550a04, #200300);
}

.display-container img {
  width: 100%;
}

.display-container p {
  border-top: 5px solid var(--primaryWhite);
  border-bottom: 5px solid var(--primaryWhite);
  color: var(--primaryWhite);
  font-size: 9vh;
  font-weight: 800;
}

.display-container-home {
  background: radial-gradient(circle, #550a04, #200300);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.display-container-home img {
  width: 100%;
}

.display-container-home .p-container {
  padding-top: 10vh;
  padding-left: 10vh;
  position: absolute;
}

.display-container-home p {
  border-top: 5px solid var(--primaryColor);
  border-bottom: 5px solid var(--primaryColor);
  color: var(--primaryColor);
  font-size: 9vh;
  font-weight: 800;
}

/* end of welcome pic */

/* full site starter */

.full-site-starter {
  background: radial-gradient(circle, #550a04, #200300);
  color: #eef0f2;
}

.full-site-starter h1 {
  font-size: 7vh;
  font-style: italic;
}

/* wine starter */

.wine-starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #1d3354, #200300);
  color: #e09f3e;
}

.wine-starter h1 {
  margin-bottom: 5vh;
  font-size: 10vh;
  font-style: italic;
}

/* taglieri starter */

.taglieri-starter {
  background: radial-gradient(circle, #e09f3e, #200300);
}

/* distillati starter */

.distillati-starter {
  background: radial-gradient(circle, #82204a, #200300);
  color: var(--primaryWhite);
  font-style: italic;
}

/* meat starter */

.meat-starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #550a04, #200300);
  color: #e09f3e;
}

.meat-starter h1 {
  margin-bottom: 5vh;
  font-size: 10vh;
  font-style: italic;
}

/* meat selection */

.meat-container {
  background: url(../images/original/carne/cooked-steak-2.jpeg) center center
    fixed;
}

.meat-container .card {
  height: 90vh;
  background-color: #550a04;
  opacity: 0.99;
  border-radius: 5px;
}

.meat-container img {
  max-width: 90vh;
  max-height: 70vh;
  border-radius: 5px;
}

.meat-container .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meat-text {
  font-size: 7vh;
  color: #e09f3e;
}

/* distillati selection */

.distillati-container {
  background: radial-gradient(circle, #82204a, #200300);
}

.distillati-container .card {
  height: 80vh;
  background-color: var(--primaryPink);
  opacity: 0.99;
  border-radius: 5px;
}

.distillati-container img {
  max-width: 55vh;
  max-height: 60vh;
  border-radius: 5px;
}

.distillati-container .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* taglieri selection */

.taglieri-container {
  background: radial-gradient(circle, #550a04, #200300);
}

.taglieri-container .card {
  height: 70vh;
  background-color: var(--primaryYellow);
  opacity: 0.99;
  border-radius: 5px;
}

.taglieri-container img {
  max-width: 55vh;
  max-height: 60vh;
  border-radius: 5px;
}

.taglieri-container .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.distillati-text {
  font-size: 8vh;
  color: var(--primaryWhite);
}

/* wine selection */

.wine-container {
  background: url(../images/original/vino/portrait-red.jpg) center/cover fixed;
}

.wine-container .card {
  height: 90vh;
  background-color: #1d3354;
  opacity: 0.99;
  border-radius: 5px;
}

.wine-container img {
  max-width: 60vh;
  max-height: 70vh;
  border-radius: 5px;
}

.wine-container .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-text {
  font-size: 8vh;
  color: #e09f3e;
}

/* reviews */

#reviews {
  background: radial-gradient(circle, #020300, #550a04);
}

.review-item {
  background: var(--primaryWhite);
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
}

.review-img {
  width: 150px;
}

/* end of reviews */

/* contacts */

#contacts {
  background: radial-gradient(circle, #550a04, #020300);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#winecontacts {
  background: radial-gradient(circle, #1d3354, #200300);
}

#contacts .card {
  background-color: var(--primaryWhite);
  height: 50vh;
}

#winecontacts .card {
  background-color: var(--primaryWhite);
  height: 50vh;
  color: #1d3354;
}

#contacts .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}

#winecontacts .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}

/* footer */

#footer {
  background-color: var(--primaryWhite);
  color: var(--primaryColor);
}

.info-icons a {
  color: var(--primaryColor);
  text-decoration: none;
}

/* END OF FULL SITE */

@media screen and (max-width: 740px) {
  /* full site */

  /* navbar  */

  #navbar-icon-home {
    font-size: 4vh;
  }

  #navbar-icon-vino {
    font-size: 4vh;
  }

  #navbar-icon-carne {
    font-size: 4vh;
  }

  #navbar-icon-formaggi {
    font-size: 4vh;
  }

  #navbar-icon-distillati {
    font-size: 4vh;
  }

  .home-brand img {
    width: 600px;
  }

  .vino-brand img {
    width: 600px;
  }

  .carne-brand img {
    width: 500px;
  }

  .formaggi-brand img {
    width: 600px;
  }

  .distillati-brand img {
    width: 600px;
  }

  #navbarNav {
    font-size: 3vh;
    justify-content: flex-end;
  }

  #navbarNav a {
    color: var(--primaryColor);
  }

  /* header */

  .header {
    height: 88vh;
    width: fit-content;
  }

  .vino-header {
    height: 87vh;
  }

  .carne-header {
    height: 87vh;
  }

  .carne-header h1 {
    font-size: 12vh;
  }

  .header h1 {
    font-size: 9vh;
  }

  .header h3 {
    font-size: 5vh;
  }

  .formaggi-header {
    height: 87vh;
  }

  .formaggi-header h1 {
    font-size: 8.5vh;
  }

  .full-site-starter h1 {
    font-size: 4vh;
  }

  .distillati-header {
    height: 87vh;
  }

  .distillati-header h1 {
    font-size: 7vh;
  }

  /* display */

  .display-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .display-container p {
    font-size: 5vh;
  }

  .display-container img {
    padding-top: 9vh;
  }

  .display-container-home .p-container {
    padding-left: 2vh;
    padding-top: 2vh;
  }

  .display-container-home p {
    font-size: 2vh;
  }

  /* meat */

  .meat-container {
    background: url(../images/original/carne/cooked-steak-2.jpeg) center center
      fixed;
    width: 720px;
  }

  .meat-starter h1 {
    margin-top: 4vh;
    font-size: 5vh;
  }

  .meat-container .card {
    height: auto;
    width: 680px;
    border-radius: 5px;
    /* left: 2vh; */
  }

  .meat-container img {
    max-height: 700px;
    max-width: 650px;
    border-radius: 5px;
  }

  .meat-text {
    font-size: 4vh;
  }

  /* wine */

  .wine-starter h1 {
    font-size: 7vh;
  }

  .wine-starter h5 {
    font-size: 3vh;
  }

  .wine-container .card {
    height: auto;
    width: 40vh;
    border-radius: 5px;
    right: 1vh;
  }

  .wine-container img {
    max-height: 40vh;
    max-width: 38vh;
  }

  .wine-text {
    font-size: 4vh;
  }

  /* distillati */

  .distillati-starter h1 {
    font-size: 7vh;
  }

  .distillati-container .card {
    height: auto;
    width: 40vh;
    border-radius: 5px;
    right: 1vh;
  }

  .distillati-container img {
    max-height: 40vh;
    max-width: 38vh;
  }

  .distillati-text {
    font-size: 4vh;
  }

  /* taglieri */

  .taglieri-starter h1 {
    font-size: 7vh;
  }

  .taglieri-container .card {
    height: auto;
    width: 40vh;
    border-radius: 5px;
    right: 0.5vh;
  }

  .taglieri-container img {
    max-height: 40vh;
    max-width: 38vh;
  }

  /* contacts */

  #contacts .card-body {
    font-size: 2.5vh;
  }

  #contacts .card-header h1 {
    font-size: 4vh;
  }

  #contacts {
    padding: 0.5vh;
  }

  #winecontacts {
    padding: 0.5vh;
  }

  #winecontacts .card-header h1 {
    font-size: 4vh;
  }

  #winecontacts .card-body {
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 450px) {
  /* full site */

  /* navbar */
  .navbar {
    width: 100%;
  }

  #navbar-icon-home {
    font-size: 4vh;
    color: var(--primaryColor);
  }

  #navbar-icon-vino {
    font-size: 4vh;
    color: var(--primaryBlue);
  }

  #navbar-icon-carne {
    font-size: 4vh;
    color: var(--primaryColor);
  }

  #navbar-icon-formaggi {
    font-size: 4vh;
    color: var(--primaryYellow);
  }

  #navbar-icon-distillati {
    font-size: 4vh;
  }

  .home-brand img {
    width: 53vh;
  }

  .vino-brand img {
    width: 53vh;
  }

  .carne-brand img {
    width: 53vh;
  }

  .formaggi-brand img {
    width: 53vh;
  }

  .distillati-brand img {
    width: 53vh;
  }

  #navbarNav {
    font-size: 5vh;
    justify-content: flex-end;
  }

  #navbarNav a {
    color: var(--primaryColor);
  }

  /* header */

  .header {
    background: url(../images/mobile-backgrounds/header.jpg) center/cover fixed;
    height: 84vh;
  }

  .vino-header {
    background: url(../images/mobile-backgrounds/vino-header.jpg) center/cover
      fixed;
    height: 82vh;
  }

  .carne-header {
    background: url(../images/mobile-backgrounds/carne-header.jpg) center/cover
      fixed;
    height: 82vh;
  }

  .header h1 {
    font-size: 9vh;
  }

  .formaggi-header {
    background: url(../images/mobile-backgrounds/taglieri-header.jpg);
    height: 82vh;
  }

  .distillati-header {
    background: url(../images/mobile-backgrounds/distillati.jpg);
    height: 82vh;
  }

  .formaggi-header h1 {
    font-size: 10vh;
    height: fit-content;
  }

  .full-site-starter h1 {
    font-size: 4vh;
  }

  /* display */

  .display-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .display-container p {
    font-size: 4vh;
  }

  .display-container img {
    padding-top: 4vh;
  }

  .display-container-home .p-container {
    padding-left: 2vh;
    padding-top: 2vh;
  }

  .display-container-home p {
    font-size: 2vh;
  }

  /* meat */

  .meat-starter h1 {
    font-size: 4vh;
  }

  .meat-container .card {
    height: auto;
    width: 50vh;
    left: 2.5vh;
  }

  .meat-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .meat-text {
    font-size: 4vh;
  }

  /* wine */

  .wine-starter h1 {
    font-size: 7vh;
  }

  .wine-starter h5 {
    font-size: 3vh;
  }

  .wine-container .card {
    height: auto;
    width: 50vh;
    right: 3.5vh;
  }

  .wine-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .wine-text {
    font-size: 4vh;
  }

  /* distillati */

  .distillati-starter h1 {
    font-size: 7vh;
  }

  .distillati-container .card {
    height: auto;
    width: 50vh;
    right: 3.5vh;
  }

  .distillati-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .distillati-text {
    font-size: 4vh;
  }

  /* taglieri */

  .taglieri-starter h1 {
    font-size: 7vh;
  }

  .taglieri-container .card {
    height: auto;
    width: 50vh;
    right: 3.5vh;
  }

  .taglieri-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  /* contacts */

  #contacts .card-body {
    font-size: 4vh;
  }

  #contacts {
    padding: 3vh;
  }

  #winecontacts {
    padding: 3vh;
  }

  #winecontacts .card-body {
    font-size: 4vh;
  }
}

@media screen and (max-width: 375px) {
  /* full site */

  /* navbar */
  #navbar-icon-home {
    font-size: 5vh;
    color: var(--primaryColor);
  }

  #navbar-icon-vino {
    font-size: 5vh;
    color: var(--primaryBlue);
  }

  #navbar-icon-carne {
    font-size: 5vh;
    color: var(--primaryColor);
  }

  #navbar-icon-formaggi {
    font-size: 5vh;
    color: var(--primaryYellow);
  }

  #navbar-icon-distillati {
    font-size: 5vh;
  }

  .distillati-brand img {
    width: 51vh;
  }

  #navbarNav {
    font-size: 5vh;
    justify-content: flex-end;
  }

  #navbarNav a {
    color: var(--primaryColor);
  }

  /* header */

  .header {
    background: url(../images/header-mobile.jpg) center/cover fixed;
    height: 83vh;
    width: 100%;
  }

  .vino-header {
    background: url(../images/vino-header-mobile.jpg) center/cover fixed;
    height: 77vh;
  }

  .carne-header {
    background: url(../images/carne-header-mobile.jpg) center/cover fixed;
    height: 77vh;
  }

  .formaggi-header {
    background: url(../images/taglieri-header.jpg) center/cover fixed;
    height: 77vh;
  }

  .distillati-header {
    background: url(../images/mobile-backgrounds/distillati.jpg) center/cover
      fixed;
    height: 77vh;
  }

  .formaggi-header h1 {
    font-size: 10vh;
    height: fit-content;
  }

  .full-site-starter h1 {
    font-size: 4vh;
  }

  /* display */

  .display-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .display-container p {
    font-size: 5vh;
  }

  .display-container img {
    padding-top: 2vh;
  }

  .display-container-home .p-container {
    padding-left: 2vh;
    padding-top: 2vh;
  }

  .display-container-home p {
    font-size: 2vh;
  }

  /* meat */

  .meat-starter h1 {
    margin-top: 3vh;
    font-size: 4.8vh;
  }

  .meat-container .card {
    height: auto;
    width: 50vh;
    left: 0;
  }

  .meat-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .meat-text {
    font-size: 4vh;
  }

  /* wine */

  .wine-starter h1 {
    font-size: 7vh;
  }

  .wine-starter h5 {
    font-size: 3vh;
  }

  .wine-container .card {
    height: 55vh;
    width: 50vh;
    right: 5vh;
  }

  .wine-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .wine-text {
    font-size: 4vh;
  }

  /* distillati */

  .distillati-starter h1 {
    font-size: 7vh;
  }

  .distillati-container .card {
    height: 55vh;
    width: 50vh;
    right: 5vh;
  }

  .distillati-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .distillati-text {
    font-size: 4vh;
  }

  /* taglieri */

  .taglieri-starter h1 {
    font-size: 7vh;
  }

  .taglieri-container .card {
    height: 55vh;
    width: 50vh;
    right: 5vh;
  }

  .taglieri-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  /* contacts */

  #contacts .card {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #contacts .card-body {
    font-size: 3.5vh;
  }

  #winecontacts .card {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #winecontacts .card-body {
    font-size: 3.5vh;
  }

  /* gallery */

  .gallery {
    width: 100%;
  }

  .single-pic-container {
    margin-right: 30vh;
  }

  .single-pic-container img:hover {
    transform: none;
  }
}
