@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,400;1,700;1,800&display=swap");

:root {
  --primaryColor: #550a04;
  --primaryBlack: #020300;
  --primaryWhite: #eef0f2;
  --primaryYellow: #e09f3e;
  --primaryBlue: #1d3354;
}

body {
  font-family: "Andada Pro", serif;
}

/* HOME PAGE */

.home-page-container {
  height: 100vh;
  width: 100%;
  background: url(../images/home-page.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container img {
  height: auto;
  width: 200vh;
}

.title-container a {
  text-decoration: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  font-size: 8vh;
  transition: all 2s ease;
}

.buttons-container #btn-1 {
  width: 45vh;
  border: 7px solid var(--primaryWhite);
}

.buttons-container #btn-1 a {
  color: var(--primaryWhite);
  text-decoration: none;
}

.buttons-container #btn-2 a {
  color: var(--primaryColor);
  text-decoration: none;
}

.buttons-container #btn-3 a {
  color: var(--primaryYellow);
  text-decoration: none;
}

.buttons-container #btn-4 a {
  color: var(--primaryBlue);
  text-decoration: none;
}

.buttons-container #btn-2 {
  width: 40vh;
  border: 7px solid var(--primaryColor);
}

.buttons-container #btn-3 {
  width: 60vh;
  border: 7px solid var(--primaryYellow);
}

.buttons-container #btn-4 {
  border: 7px solid var(--primaryBlue);
}

.buttons-container #btn-1:hover {
  background-color: var(--primaryBlack);
  transform: scale(1.1);
}

.buttons-container #btn-2:hover {
  background-color: var(--primaryBlack);
  transform: scale(1.1);
}

.buttons-container #btn-3:hover {
  background-color: var(--primaryBlack);
  transform: scale(1.1);
}

.buttons-container #btn-4:hover {
  background-color: var(--primaryBlack);
  transform: scale(1.1);
}

/* END OF HOME PAGE */

/* FULL SITE */

/* navbar */

.navbar {
  width: 100%;
  background-color: var(--primaryWhite);
  overflow: hidden;
}

#navbar-toggler {
  border: 3px solid var(--primaryColor);
}

#navbar-icon-home {
  font-size: 6vh;
  color: var(--primaryColor);
}

#navbar-icon-vino {
  font-size: 6vh;
  color: var(--primaryBlue);
}

#navbar-icon-carne {
  font-size: 6vh;
  color: var(--primaryColor);
}

#navbar-icon-formaggi {
  font-size: 6vh;
  color: var(--primaryYellow);
}

#navbarNav {
  font-size: 4vh;
  justify-content: flex-end;
}

#navbarNav a {
  color: var(--primaryColor);
}

/* header */

.header {
  height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.carne-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/carne-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.vino-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/vino-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.formaggi-header {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/formaggi-header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.header h1 {
  border: 7px solid var(--primaryWhite);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryWhite);
}

.header h3 {
  font-size: 7vh;
  color: var(--primaryBlack);
  border-top: 3px solid var(--primaryBlack);
  border-bottom: 3px solid var(--primaryBlack);
}

.carne-header h1 {
  border: 7px solid var(--primaryColor);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryColor);
}

.vino-header h1 {
  border: 7px solid var(--primaryBlue);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryBlue);
}

.formaggi-header h1 {
  border: 7px solid var(--primaryYellow);
  font-size: 13vh;
  font-weight: 700;
  color: var(--primaryYellow);
}

/* wine starter */

.wine-starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #1d3354, #200300);
  color: #e09f3e;
}

.wine-starter h1 {
  margin-bottom: 5vh;
  font-size: 10vh;
  font-style: italic;
}

/* meat starter */

.meat-starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #550a04, #200300);
  color: #e09f3e;
}

.meat-starter h1 {
  margin-bottom: 5vh;
  font-size: 10vh;
  font-style: italic;
}

/* meat selection */

.meat-container {
  background: url(../images/original/carne/cooked-steak-2.jpeg) center/cover
    fixed;
}

.meat-container .card {
  height: 90vh;
  background-color: #550a04;
  opacity: 0.99;
  border-radius: 5px;
}

.meat-container img {
  max-width: 90vh;
  max-height: 70vh;
  border-radius: 5px;
}

.meat-container .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meat-text {
  font-size: 7vh;
  color: #e09f3e;
}

/* wine selection */

.wine-container {
  background: url(../images/original/vino/portrait-red.jpg) center/cover fixed;
}

.wine-container .card {
  height: 90vh;
  background-color: #1d3354;
  opacity: 0.99;
  border-radius: 5px;
}

.wine-container img {
  max-width: 90vh;
  max-height: 70vh;
  border-radius: 5px;
}

.wine-container .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-text {
  font-size: 8vh;
  color: #e09f3e;
}

/* Gallery */

.gallery {
  background: radial-gradient(circle, #550a04, #200300);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 5vh;
  overflow: hidden;
}

.single-pic-container {
  position: relative;
}

.single-pic-container img {
  margin: 2vh;
  height: 50vh;
  width: 50vh;
  transition: all 1.5s ease;
  border-radius: 5px;
}

.single-pic-container img:hover {
  transform: scale(1.1);
}

.single-pic-container a {
  color: var(--primaryBlack);
  text-decoration: none;
}

.single-pic-container a h1:hover {
  background-color: var(--primaryColor);
}

/* End of Gallery */

/* contacts */

#contacts {
  background: radial-gradient(circle, #550a04, #020300);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#winecontacts {
  background: radial-gradient(circle, #1d3354, #200300);
}

#contacts .card {
  background-color: var(--primaryWhite);
  height: 50vh;
}

#winecontacts .card {
  background-color: var(--primaryWhite);
  height: 50vh;
  color: #1d3354;
}

#contacts .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}

#winecontacts .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}

/* footer */

#footer {
  background-color: var(--primaryWhite);
  color: var(--primaryColor);
}

.info-icons a {
  color: var(--primaryColor);
  text-decoration: none;
}

/* END OF FULL SITE */

@media screen and (max-width: 450px) {
  /* home page */

  .home-page-container {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 10vh;
  }

  .home-page-container .title-container {
    margin-top: 12vh;
  }

  .home-page-container .title-container img {
    width: 55vh;
  }

  .buttons-container .col {
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  .buttons-container button {
    font-size: 6vh;
    width: 40vh;
  }

  .buttons-container #btn-1 {
    width: 40vh;
  }

  .buttons-container #btn-3 {
    width: 40vh;
  }

  /* full site */

  /* navbar */
  .navbar {
    width: 100%;
  }

  #navbar-icon-home {
    font-size: 4vh;
    color: var(--primaryColor);
  }

  #navbar-icon-vino {
    font-size: 4vh;
    color: var(--primaryBlue);
  }

  #navbar-icon-carne {
    font-size: 4vh;
    color: var(--primaryColor);
  }

  #navbar-icon-formaggi {
    font-size: 4vh;
    color: var(--primaryYellow);
  }

  .home-brand img {
    width: 48vh;
  }

  .vino-brand img {
    width: 50vh;
  }

  .carne-brand img {
    width: 50vh;
  }

  .formaggi-brand img {
    width: 50vh;
  }

  #navbarNav {
    font-size: 5vh;
    justify-content: flex-end;
  }

  #navbarNav a {
    color: var(--primaryColor);
  }

  /* header */

  .header {
    height: 84vh;
    width: fit-content;
  }

  .vino-header {
    height: 82vh;
  }

  .carne-header {
    height: 82vh;
  }

  .header h1 {
    font-size: 9vh;
  }

  .formaggi-header {
    height: 82vh;
  }

  .formaggi-header h1 {
    font-size: 10vh;
    height: fit-content;
  }

  /* meat */

  .meat-container .card {
    height: fit-content;
    width: 50vh;
    left: 1vh;
  }

  .meat-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .meat-text {
    font-size: 4vh;
  }

  /* wine */

  .wine-starter h1 {
    font-size: 7vh;
  }

  .wine-starter h5 {
    font-size: 3vh;
  }

  .wine-container .card {
    height: fit-content;
    width: 50vh;
    right: 3.5vh;
  }

  .wine-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .wine-text {
    font-size: 4vh;
  }

  /* gallery */

  .gallery {
    width: fit-content;
  }

  .single-pic-container {
    right: 1.8vh;
  }

  .single-pic-container img {
    height: 45vh;
    max-width: 45vh;
  }

  .single-pic-container img:hover {
    transform: none;
  }

  /* contacts */

  #contacts .card-body {
    font-size: 4vh;
  }

  #contacts {
    padding: 3vh;
  }

  #winecontacts {
    padding: 3vh;
  }

  #winecontacts .card-body {
    font-size: 4vh;
  }
}

@media screen and (max-width: 375px) {
  /* home page */

  .home-page-container {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 10vh;
  }

  .home-page-container .title-container img {
    width: 50vh;
  }

  .buttons-container button {
    font-size: 6vh;
    width: 40vh;
  }

  .buttons-container #btn-1 {
    width: 40vh;
  }

  .buttons-container #btn-3 {
    width: 40vh;
  }

  /* full site */

  /* navbar */
  #navbar-icon-home {
    font-size: 5vh;
    color: var(--primaryColor);
  }

  #navbar-icon-vino {
    font-size: 5vh;
    color: var(--primaryBlue);
  }

  #navbar-icon-carne {
    font-size: 5vh;
    color: var(--primaryColor);
  }

  #navbar-icon-formaggi {
    font-size: 5vh;
    color: var(--primaryYellow);
  }

  #navbarNav {
    font-size: 5vh;
    justify-content: flex-end;
  }

  #navbarNav a {
    color: var(--primaryColor);
  }

  /* header */

  .header {
    background: url(../images/header-mobile.jpg) no-repeat center center fixed;
    height: 83vh;
    width: 100%;
  }

  .vino-header {
    height: 77vh;
  }

  .carne-header {
    height: 77vh;
  }

  .formaggi-header {
    height: 77vh;
  }

  .formaggi-header h1 {
    font-size: 10vh;
    height: fit-content;
  }

  /* meat */

  .meat-starter h1 {
    margin-top: 3vh;
    font-size: 4.8vh;
  }

  .meat-container .card {
    height: fit-content;
    width: 50vh;
  }

  .meat-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .meat-text {
    font-size: 4vh;
  }

  /* wine */

  .wine-starter h1 {
    font-size: 7vh;
  }

  .wine-starter h5 {
    font-size: 3vh;
  }

  .wine-container .card {
    height: 55vh;
    width: 50vh;
    right: 7vh;
  }

  .wine-container img {
    max-height: 40vh;
    max-width: 45vh;
  }

  .wine-text {
    font-size: 4vh;
  }

  /* contacts */

  #contacts .card {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #contacts .card-body {
    font-size: 3.5vh;
  }

  #winecontacts .card {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #winecontacts .card-body {
    font-size: 3.5vh;
  }

  /* gallery */

  .gallery {
    width: 100%;
  }

  .single-pic-container {
    margin-right: 30vh;
  }

  .single-pic-container img:hover {
    transform: none;
  }
}
